* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color: #c0c0c0;
	font-family: arial;
	font-size: 30px;
}
body {
	min-height: 100vh;
	background: #000;
}
header {
	padding: 10px;
	border-bottom: solid 1px rgba(0,0,0,0.1);
}
footer p {
	text-align: right;
	font-size: 10px;
	padding: 0 20px;
}
button {
	width: 60px;
	padding: 3px 5px;
	color: #000;
	background: #fff;
	border: solid 1px #c0c0c0;
	cursor: pointer;
	border-radius: 5px
}

.diceGrid {
	max-width: 380px;
	margin: 20px auto;
	padding: 20px;
	background: rgba(255,255,255,0.25);
	border-radius: 5px;
	text-align: center;
}
.diceGrid > div {
	margin: 10px auto;
	border: solid 1px #000;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}
.diceGrid > div button:nth-child(3) {
	width: 135px;
}
.diceGrid p {
	width: 60px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 42px;
	margin: 0 10px;
	font-weight: bold;
}
.diceGrid span {
	color: green;
}
.diceGrid .refreshButton {
	margin: auto;
	display: inline-block;
}
#results  {
	height: 44px;
	text-align: center;
}
#results textarea {
	width: 340px;
	display: inline-block;
	background: #fff;
	padding: 5px 20px;
	border-radius: 5px;
	background: rgba(255,255,255,0.25);
	color: #000;
	margin-bottom: 20px;
	letter-spacing: 3px;
	resize: none;
}
